@font-face {
    font-family: 'PixelFont';
    src: url('./fonts/Pixel.ttf');
}

body {
    font-family: 'PixelFont', sans-serif;
}

main {
    position: relative;
}

canvas {
    position: absolute;
}

.game-info-container {
    position: absolute;
    right: 0;
}

#topInfo {
    display: flex;
    flex-direction: row; 
}

#bottomInfo {
    margin-top: .1rem;
}

#levelContainer span,
#timeContainer span {
    margin-top: .5rem;
}

.info-section {
    position: relative;
    background-color: rgba(28, 28, 28, 0.662);
    color: white;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#levelContainer {
    width: 4rem;
    margin-right: .1rem;
}

#timeContainer {
    width: 8rem;
}

#checkpointContainer {
    position: relative;
}

#event {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#eventTitle {
    position: absolute;
    left: .5rem;
}

#eventTime {
    position: absolute;
    right: .5rem;
}

h4 {
    position: absolute;
    left: .5rem;
    top: -.5rem;
    font-weight: 400;
    font-size: .8rem;
}

#timer {
    display: flex;
    flex-direction: row;
}

#miliseconds,
#seconds,
#minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7rem;
}