:root {
    --text-color: #f4f4f4;
    --text-dark-color: #1d1d1d;
    --highlight-color: #f49733;
}

@font-face {
    font-family: 'PixelFont';
    src: url('../assets/fonts/Pixel.ttf');
}

.no-select {
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard */
}

.hidden {
    display: none!important;
}

body {
    font-family: 'PixelFont', sans-serif;
}

main {
    position: relative;
}

canvas {
    position: absolute;
}

.game-info-container {
    position: absolute;
    right: 0;
}

#topInfo {
    display: flex;
    flex-direction: row; 
}

#bottomInfo {
    margin-top: .1rem;
}

#levelContainer span,
#timeContainer span {
    margin-top: .5rem;
}

.info-section {
    position: relative;
    background-color: rgba(28, 28, 28, 0.662);
    color: var(--text-color);
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#levelContainer {
    width: 4rem;
    margin-right: .1rem;
}

#timeContainer {
    width: 8rem;
}

#checkpointContainer {
    position: relative;
}

#event {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

#eventTitle {
    position: absolute;
    left: .5rem;
}

#eventTime {
    position: absolute;
    right: .5rem;
}

h4 {
    position: absolute;
    left: .5rem;
    top: -.5rem;
    font-weight: 400;
    font-size: .8rem;
}

#timer {
    display: flex;
    flex-direction: row;
}

#miliseconds,
#seconds,
#minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.7rem;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 214, 157, 0.99);
    background-image: url('../assets/images/menu_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1000;
}

.menu h1 {
    margin-bottom: 2rem;
    font-size: 8rem;
    text-transform: uppercase;
    text-shadow: -4px 4px 3px var(--text-dark-color);
}

.menu button {
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'PixelFont', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    text-shadow: -4px 4px 3px var(--text-dark-color);
}

.menu button:hover {
    color: var(--highlight-color);
}

.menu-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.fade-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(25, 24, 24);
    clip-path: circle(0% at 50% 50%);
    pointer-events: none;
    z-index: 500;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}